extends layouts/main.pug

block content
  section.uk-section
    .uk-container
      h1.uk-heading-large Welcome to Wanzofc Sharing!

      section#resources-section.uk-section
        h2.uk-heading-medium Resources:
          if resources.length === 0
              p.uk-text-meta Belum ada resource yang diupload
          else
              +responsive-grid([2, 3, 4])
                each resource in resources
                  .uk-card.uk-card-default
                      .uk-card-media-top
                          img(src="https://via.placeholder.com/600x400", alt="Placeholder Image")  
                      .uk-card-body
                        h3.uk-card-title.uk-margin-remove-bottom= resource.title
                        p.uk-text-meta Uploaded on: [Tanggal Upload]
                        p.uk-text-truncate= resource.description
                        a.uk-button.uk-button-primary(href=`/uploads/${resource.filename}`, download) Download