extends layouts/main.pug
block content
  section
    .container
      h1 WELCOME TO WANZOFC SHARING!

      section#resources-section
        h2 Resources:
          if resources.length === 0
              p Belum ada resource yang diupload
          else
              ul.resource-grid
                each resource in resources
                  li.resource-card
                      .card-image
                          img(src="https://via.placeholder.com/600x400", alt="Placeholder Image")  
                      .card-content
                        h3.card-title= resource.title
                        p.card-meta Uploaded on: [gabut memek]
                        p.card-description= resource.description
                        a.card-button(href=`/uploads/${resource.filename}`, download) DOWNLOAD