body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #ff5733; /* Warna oranye yang hidup */
}

#upload-section, #resources-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;  
}

label{
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
    background-color: #27ae60; /* Warna hijau yang menarik*/
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}


a {
  color: #3498db; /* Warna biru yang interaktif */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Tambahkan styling lainnya sesuai kebutuhan */